<%= turbo_frame_tag 'notification_panel' do %>
  <div class="dropdown">
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>

        <%= render partial: "components/ui/notification_label", locals: {notifications_count: notifications.select(&:unseen?).count} %>
      </div>
    </button>

    <ul
      tabindex="0"
      class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-content text-info-content rounded-box w-[40dvw] md:w-[25dvw] max-w-md -right-24"
    >
      <% notifications.each do |notification| %>
        <%= content_tag :li, data: { controller: 'notification' }, class: [notification.unseen? && 'bg-primary'] do %>
          <%= link_to notification.message, notification.record.activity, id: notification.id, data: { turbo_frame: "_top", action: 'notification#mark_as_seen' } %>
        <% end %>
        <li>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
